[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Plex HTPC
Comment=
Exec=/app/bin/start.sh
Icon=tv.plex.PlexHTPC
Terminal=false
Categories=Audio;Music;Video;Player;Media;
